@model IdentityCustomMVC.Entities.Product

@{
    ViewData["Title"] = "Detalhe do Produto";
}

<div class="container">
<h1 class="text-center mb-5">@ViewData["Title"]</h1>
    <div class="card">
        <div class="card-body">         
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <div>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </div>
</div>

